snippet html
	<!doctype html>
	<html lang="en">
	  <head>
	    <meta charset="utf-8">
	    <title>${1}</title>
	  </head>

	  <body>
	  </body>
	</html>

snippet script
	<script type="text/javascript">
	  ${1}
	</script>

snippet jReady
	$(function () {
	  ${1}
	})

snippet jOn
	$("${1}").on("click", function () {
	  ${2}
	})

