snippet pastel
	/*  ______                __          __ 
	 * |   __ \.---.-..-----.|  |_.-----.|  |
	 * |    __/|  _  ||__ --||   _|  -__||  |
	 * |___|   |___._||_____||____|_____||__|
	 *
	 * This file is part of the pastel package.
	 *
	 * (c) Dennis Dietrich <d.dietrich84@googlemail.com/>
	 *
	 * For the full copyright and license information, please view the LICENSE
	 * file that was distributed with this source code.
	 */
